extends ./layout/email

block emailContent
  include ./mixins/link

  p Hola, <b>#{username}</b>:
  p Este correo es para confirmarte que se ha cambiado exitosamente la contraseña de tu cuenta en Regiztra.
  p Si tú no hiciste este cambio, #[a.btn(href=`${webBaseUrl}/recovery-password?email=${email}`, style='color: #58b560;') recupera tu contraseña aquí].
  |
  p Gracias por tu confianza en nuestra plataforma,
  p 
    b Equipo Agave Lab
  |
  p <small><i><b>Tip de seguridad:</b> Si tu no realizaste este cambio, puede ser que alguien más tenga acceso a tu cuenta de correo electrónico. Te recomendamos que por seguridad también actualices la contraseña de tu cuenta de correo.</i></small>
