mixin link(href, name)
  a.btn(href=href, style='display: block; border-radius: 2px; width: 270px; margin: 45px auto; background-color: #58b560; color: #fff; text-align: center; padding: 12px 30px; text-decoration: none;')= name
